#tmping {
	table-layout:fixed;
	tbody td {
		overflow:hidden;
	}
	tfoot {
		td {
			text-align: center;
		}
		td>span {
			vertical-align: -1px;
		}
		#toPage {
			min-width: 2em;
			text-align: center;
			a {
				padding: 3px 5px;
			}
		}
		.png {
			width: 16px;
			height: 16px;			
		}
		.page-btn(@div,@bgimg){
			.@{div} {
				background:url("../img/@{bgimg}") no-repeat;
			}
		}
		.page-btn(first-png,"first.png?__sprite");
		.page-btn(prev-png,"prev.png?__sprite");
		.page-btn(next-png,"next.png?__sprite");
		.page-btn(last-png,"last.png?__sprite");
	}
	tr td:first-child,tr th:first-child {
		display:none;
	}
}